

.wrapper {	
	margin-top: 100px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  


	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}

textarea:focus, input[type="text"]:focus, inpu
t[type="password"]:focus, input[type="datetime"]:focus,
 input[type="datetime-local"]:focus, input[type="date"]:focus,
  input[type="month"]:focus, input[type="time"]:focus, 
  input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, 
  input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus,
   input[type="color"]:focus, .uneditable-input:focus {   
border-color: rgba(126, 239, 104, 0.8);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
outline: 0 none;}

.bar{background-color: #65C664;
height: 50px;
margin: -35px -35px 30px 
}

.bar h3{text-align: center ; padding-top: 12px;}
body{background-color:#ADADAD;}


